* {
    margin: 0px;
    padding: 0x;
}

body {
    overflow-x: hidden;
    background-image: url("https://i.pinimg.com/originals/ab/60/b1/ab60b16fbb66e389d6f0ca2aae059ca5.gif");
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

#button1 {
    position: relative;
    left: 400px;
    top: 80px;
    color: white;
    width: 150px;
    height: 50px;
}

#button2 {
    position: relative;
    left: 450px;
    top: 80px;
    color: white;
    width: 150px;
    height: 50px;
}

.section2 img {
    position: relative;
    top: 200px;
    left: 10px;
    width: 260px;
}

#img23 {
    position: relative;
    top: 200px;
    margin-left: 500px;
    width: 200px;
}
.zeyada{
    width: 200px;
}